body {
    background-color: snow;

}

.footer-msg {
    text-align: center;
    text-decoration-style: solid;
}

/* The animation code */
@keyframes example {
    from {background-color: gray;}
    to {background-color: snow;}
}

/* The element to apply the animation to */
.animate {
    background-color: snow;
    animation-name: example;
    animation-duration: 4s;
}

.about-me {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quora-post {
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 10px;
}

.projects {
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 10px;
}